<%- include('partials/header') -%>
<body>
    <h1>Create Your VERY OWN Library!</h1>
    <a href="/login"> Login</a>
    <a href="/signup"> Signup</a>
</body>
</html>

<%- include('partials/footer') -%>