body {
    width: 100%;
    overflow-x: hidden;
}

.completed{
    text-decoration: line-through;
    color: gray;
}

.todoItem > *:hover, 
.del:hover {
    cursor: pointer;
}

li {
    list-style: none;
}
